/* Generales */
body {
	background-color: #2b2232;
}
.bgs {
	background-repeat: no-repeat;
	background-position: center;
}
.wh, p, i {
	color: white;
	font-family: "Open sans", sans-serif;
}
h1, h3 {
	color: #ffbb65;
	font-weight: bolder;
	font-family: "Courgette", serif;
}
img {
	max-width: 100%;
}
.bgPurple {
	background-color: #17101b;
}
iframe {
	width: 100%;
}
.tac {
	text-align: center;
}

/* Header */

.bgSpring {
	background: url(../image/header-image.jpg);
	background-size: cover;
	padding:10% 20%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
} 
.scame {
	padding:5%;
	text-align: center;
	margin: 5%;
}
.scame h1 {
	font-size: 5em;
}

/* Artículos */
.super {
	margin-bottom: 5%;
	margin-top: 1%;
}

.three {
	padding-bottom: 10px;
}
.fl1 {
	background: url(../image/image7.jpg);
	background-size: cover;
}
.fl2 {
	background: url(../image/image3.jpg);
	background-size: cover;
}
.fl3 {
	background: url(../image/image2.jpg);
	background-size: cover;
}
.cont {
	width: 100%;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 6%;
	position: relative;
	top: 200px;
	margin-top: 5%;	
}
.entrada {
	height: 230px;
}
/* Contenidos */
.contenidos {
	margin-top: 5% !important;
	margin-bottom: 5%;
}
.title {
	text-align: center;

}
.content2 {
	padding: 3%;
	
}
.about {
	margin-top: 5%;
}
/* Footer */
footer {
	margin-top: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
}
footer a {
	text-decoration: none;
}

/* Responsive */

@media screen and (max-width : 920px) {
	
}

@media screen and (max-width: 600px) {
	body {
		background-color: red;
	}
	.cont {
		width: 100%;
	}
	.col-4 {
		width: 100%;
	}
	.col-7 {
		margin-top: 50px;
		width: 100%;
	}
}


/* 
 @media (max-width: 535px) {
	.container {
	    margin:0 !important;
	    padding:0 !important;
	}

	.row {
	    margin:0 !important;
	    padding:0 !important;
	}

	.col-6 {
		width: 100%;
		float: left;
		display: block;
	}	
	.inputs {
		width: 100% !important;
	}

	.mtmb {
		margin-top: 2%;
		margin-bottom:2%;
	}
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {s
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
*/